:root{

    --oscuro:#07070A;
    --azulOscuro:#0a1128;
    --azulClaro:#006fe6;
    --blanco:#fefcfb;
    --titulos:'Baloo 2',cursive;
    --parrafos:'Montserrat',sans-serif;

}

html{

    box-sizing: border-box;
    font-size: 62.5%;

}

body{

    font-size: 1.6rem;

}

*,*::before,*::after{

    box-sizing: inherit;

}

h1,h2,h3{

    font-family: var(--titulos);

}

p,a{

    font-family: var(--parrafos);

}

.ocultar{

    display: none;

}

/* encabezado */
.encabezado{

    background-image: url('');
    background-repeat: no-repeat;
    height: 100vh;
    min-height: 70rem;
    background-size: cover;
    background-position: center center;

}

.logo h2{

    font-size: 3rem;

}

.logo h2 span{

    color: var(--azulClaro);
}

.contenido-navegacion{

    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--blanco);
    box-shadow: 10px 10px 16px -6px rgba(0, 0, 0, 0.45);

}

.navegacion{

    position: absolute;
    left: 0;
    top: 70px;
    background-color: var(--blanco);
    width: 100%;

}

.navegacion a{

    display: block;
    font-size: 2rem;
    padding: 1.1rem;
    color: var(--oscuro);
    text-decoration: none;

}

@media (min-width: 768px) {



}

.hamburguesa span{

    width: 5rem;
    height: 1rem;
    border: 3px solid white;
    background-color: var(--oscuro);
    display: block;
    
}
